* {
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}

html {
    background-color: brown;
    font-size: 16px;
}

body {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title {
    color: azure;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 5vh;
}

.grid-container {
    border: 3px rgb(24, 24, 49) solid;
    display: grid;
    width: 370px;
    height: 610px;
    margin: auto;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 150px repeat(5, 90px);
    margin: 3px;
    padding: 3px;
    background-color: rgb(116, 116, 116);
}

.display {
    display: grid;
    width: 100%;
    height: auto;
    background-color: rgb(70, 60, 60);
    box-shadow: 1px 1px 1px rgb(45, 61, 45);
    border: black solid 2px;
}

.keys {
    display: grid;
    /* border: 1px rgb(30, 219, 87) solid; */
    margin: 3px;
    background-color: rgb(77, 70, 80);
}

.span-two { 
    grid-column: 1 / span 2;
    border-radius: 2%;
}

.span-two-buttom { 
    grid-column: 3 / span 2;
    border-radius: 2%;
}
.span-four {
    grid-column: 1 / span 4;
    border-radius: 2%;
} 

 button {
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(45, 61, 45);
    font-size: 1.5rem;
    outline: none;
    border: black 1px solid;
    border-radius: 50%;
 }

button:active {
    transform: scale(0.97);
    transition: transform .2s;
}

button:hover {
    background-color: rgb(95, 95, 95);
    color: aliceblue;
  }
