* {
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}

html {
    background-color: rgb(24, 57, 85);
    font-size: 16px;
}

body {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: linear-gradient(to right, rgb(129, 3, 129), rgb(252, 252, 4)); */
}

.title {
    color: azure;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.grid-container {
    border: 3px rgb(24, 24, 49) solid;
    display: grid;
    width: 373px;
    height: 610px;
    margin: auto;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 150px repeat(5, 90px);
    margin: 3px;
    padding: 3px;
    background-image: linear-gradient(to right, rgb(36, 37, 44), rgb(37, 37, 37));

}

.display {
    display: grid;
    width: 100%;
    height: auto;
    background-color: rgb(61, 57, 57);
    box-shadow: 1px 1px 1px rgb(29, 29, 29);
    border: black solid 2px;
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.topDisplay {
    text-align: right;
    font-size: 1.5rem;
    height: 50%;
    padding-top: 10px;
    padding-right: 10px;
    color: rgb(117, 117, 117);
    /* border: blue solid 1px; */
}

.bottomDisplay {
    height: 50%;
    width: 100%;
    text-align: right;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-size: 3.5rem;
    padding-left: 9px;
    padding-right: 9px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: rgba(255, 255, 255, 0.747);
    /* border: green solid 1px; */
}


/* .keys {

} */

.span-two { 
    grid-column: 1 / span 2;
    border-radius: 2%;
}

.span-two-buttom { 
    grid-column: 3 / span 2;
    border-radius: 2%;
}
.span-four {
    grid-column: 1 / span 4;
    border-radius: 2%;
} 

 button {
    display: grid;
    margin: 3px;
    background-color: rgb(64, 62, 73);
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    color: whitesmoke;
    border: rgb(36, 37, 44) solid 1px;
    border-radius: 50%;
 }

button:active {
    transform: scale(0.97);
    transition: transform .2s;
}

button:hover {
    /* box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);   */
    box-shadow: 
    inset 0 -3em 3em rgba(209, 208, 208, 0.342), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(161, 154, 154, 0.575);

    /* box-shadow: 7px 7px 7px rgb(80, 82, 80), 0px 6px 20px 0 rgba(250, 173, 85, 0.19); */
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    border: aliceblue solid 2px;
  }

  button.operator:hover {
    box-shadow: 7px 7px 7px rgb(87, 39, 3);
    background-color: rgb(87, 39, 3);
    color: aliceblue;
    border: aliceblue solid 2px;
  }
