* {
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}

html {
    font-size: 16px;
    background-color: rgb(10, 15, 29);
    background-image: url("nzbw.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
   
}

body {
    position: fixed;
    margin: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 700px) {
    body {
        left: 47.5%;
    }
  }

/* .title {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}  */



.grid-container {
    display: grid;
    width: 367px;
    height: 640px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 175px repeat(5, 90px);
    margin: 3px;
    padding: 3px;
    background-color: rgba(37, 37, 37, 0.959);
    border-radius: 5%;
}

.display {
    display: grid;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.topDisplay {
    text-align: right;
    font-size: 2rem;
    height: 50%;
    padding-top: 15px;
    padding-right: 10px;
    color: rgba(194, 193, 193, 0.856);
    /* border: blue solid 1px; */
}

.bottomDisplay {
    height: 50%;
    width: 100%;
    text-align: right;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-size: 3.5rem;
    padding-left: 9px;
    padding-right: 9px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: rgba(255, 255, 255, 0.747);
    /* border: green solid 1px; */
}

.span-two-buttom { 
    grid-column: 3 / span 2;
    border-radius: 10%;
}
.span-four {
    grid-column: 1 / span 4;
    border-radius: 2%;
} 

 button {
    display: grid;
    margin: 3px;
    background-color: rgb(64, 62, 73);
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    color: whitesmoke;
    border: rgb(36, 37, 44) solid 1px;
    border-radius: 50%;
 }

button:active {
    transform: scale(0.97);
    transition: transform .2s;
}

button:hover {
    box-shadow: 
    inset 0 -3em 3em rgba(209, 208, 208, 0.342), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(161, 154, 154, 0.575);
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    border: aliceblue solid 2px;
  }

  button.operator {
    background-color: rgb(99, 47, 17);
 }

  button.operator:hover {
    box-shadow: 7px 7px 7px rgb(110, 51, 5);
    background-color: rgb(131, 64, 14);
    color: aliceblue;
    border: aliceblue solid 2px;
  }
